.App {
  text-align: center;
}

h1 {
  color: #CDC6AE;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100%;
  flex-wrap: wrap;
  min-width: 650px;
  background-color: #187795;
}

#input {
  background-color: #38686A;
}

.section {
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-width: 500px;
  max-width: 500px;
}

#output {
  background-color: white;
}

#output h1 {
  color: black;
}

form {
  display: grid;
}

input {
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
  border-radius: 10px;
}